<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julia.bachelor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PdfCreatorActivity"
            android:theme="@style/CompAppTheme">
        </activity>
        <activity
            android:name=".LoadContent"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SalgItem" />
        <activity android:name=".FullOversikt" />
        <activity android:name=".SalgAnnet" />
        <activity android:name=".AddBeholdning" />
        <activity android:name=".FakturaSalg" />
        <activity android:name=".BmSalg" />
        <activity android:name=".HjemmeSalg" />
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" />
        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.com.julia.bachelor.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>