<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julia.bachelor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FullOversikt"></activity>
        <activity android:name=".SalgAnnet" />
        <activity android:name=".AddBeholdning" />
        <activity android:name=".Innstillinger" />
        <activity android:name=".FakturaSalg" />
        <activity android:name=".BmSalg" />
        <activity android:name=".HjemmeSalg" />
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>